.select {
    position: relative;
    padding: 10px;
    border-radius: 8px;
    min-width: 100px;
    cursor: pointer;
    background-color: rgb(26, 28, 45);
    border: 1px solid #3b3f5c;
    font-size: 13px;
    line-height: 17px;
    color: #e0e6ed;
    font-weight: 600;

    .select-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .select-button {
        right: 15px;
        top: 15px;
        vertical-align: middle;
        margin-left: 10px;
        justify-content: flex-end;

        svg {
            width: 13px;
            height: 13px;
            font-weight: 600;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        transition: 0.4s;
    }

    .selected {
        width: 80%;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .options {
        position: absolute;
        right: 0;
        top: 42px !important;
        padding: 8px 0;
        border: none;
        min-width: 155px;
        background-color: #191e3a;
        border-radius: 4px;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s linear, visibility 0.2s linear;

        .option {
            padding: 8px 15px;
            font-size: 13px;
            font-weight: 500;
            color: #e0e6ed;
            cursor: pointer;
            letter-spacing: 0.0312rem;
            transition: all 0.3s ease all;

            &:hover {
                background-color: rgba(59, 63, 92, 0.45);
            }
        }
    }
}