.chat-section {
    margin-top: 20px;

    .chat {
        width: 100%;
        display: flex;
        &__users {
            width: 30%;

            .chat__header {
                margin-bottom: 20px;

                .chat__search-group {
                    position: relative;
                    svg {
                        position: absolute;
                        content: "";
                        width: 25px;
                        height: 25px;
                        left: 10px;
                        top: 10px;
                    }
                    input {
                        border-radius: 4px;
                        font-size: 16px;
                        padding-left: 30px;
                        width: 250px;
                        color: #25d5e4;
                        border: 0;
                        outline: none;
                        padding: 12px 16px 12px 43px;
                        background: #191e3a;
                        border: 1px dashed #3b3f5c;
                        box-shadow: none;
                    }
                }
            }
            .users {
                overflow-y: scroll;
                .user {
                    padding: 10px 0;
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    transition: 0.4s ease-in-out;
                    border-bottom: 1px solid #191e3a;
                    cursor: pointer;

                    &:hover .user__info .__text .user__name {
                        color: #25d5e4;
                    }
                    &:hover .data__mes {
                        color: #25d5e4;
                    }

                    &__info {
                        display: flex;

                        .user__avatar {
                            margin-right: 10px;
                            img {
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                border: 2px solid #3b3f5c;
                                object-fit: cover;
                            }
                        }
                        .__text {
                            display: flex;
                            flex-direction: column;

                            .user__name {
                                font-size: 14px;
                                color: #bfc9d4;
                                font-weight: 700;
                            }
                            .user__mess {
                                font-size: 13px;
                                display: inline-block;
                                overflow: hidden !important;
                                width: 85%;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                color: #888ea8;
                                font-weight: 600;
                            }
                        }
                    }
                    .data__mes {
                        font-size: 12px;
                        color: #888ea8;
                        font-weight: 700;
                        margin-right: 10px;
                    }
                }
            }
        }
        &__meta {
            width: 70%;
            .chat__meta-head {
                box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%),
                    0 1px 18px 0 rgb(0 0 0 / 12%),
                    0 3px 5px -1px rgb(0 0 0 / 20%);

                padding: 10px;
                .chat__meta-user {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .chat__user-info {
                        display: flex;
                        align-items: center;
                        .user-name {
                            color: #bfc9d4;
                            font-weight: 600;
                            transition: 0.4s ease-in-out;

                            &:hover {
                                color: #25d5e4;
                            }
                        }
                        img {
                            margin-right: 10px;
                            width: 50px;
                            height: 50px;
                            border-radius: 10px;
                        }
                    }
                    .chat__action {
                        svg {
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            color: #888ea8;
                            margin-left: 10px;
                            transition: 0.4s ease-in-out;

                            &:hover {
                                color: #25d5e4;
                            }
                        }
                    }
                }
            }
            .chat__main {
                position: relative;
                margin-left: 5px;
                width: 100%;
                background: url("../../../assets/img/chat/fon.jpg");
                background-repeat: no-repeat;
                background-size: cover;

                .chat__main-wrapper {
                    min-height: 44vh;
                    max-height: 44vh;
                    padding: 20px;
                    overflow-y: scroll;
                }

                .bubble {
                    font-size: 16px;
                    position: relative;
                    display: inline-block;
                    clear: both;
                    margin-bottom: 8px;
                    padding: 14px 18px;
                    vertical-align: top;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    border-radius: 5px;
                    word-break: break-word;
                    max-width: 370px;
                }
                .me {
                    float: right;
                    color: #fff;
                    border-radius: 8px;
                    background-color: #4361ee;
                    align-self: flex-end;
                    box-shadow: 0 6px 10px 0 rgba(133, 129, 129, 0.14),
                        0 1px 18px 0 rgb(0 0 0 / 12%),
                        0 3px 5px -1px rgb(0 0 0 / 20%);
                }
                .you {
                    float: left;
                    background-color: #0e1726;
                    color: #e0e6ed;
                    border-radius: 8px;
                    align-self: flex-end;
                    box-shadow: 0 6px 10px 0 rgba(133, 129, 129, 0.14),
                        0 1px 18px 0 rgb(0 0 0 / 12%),
                        0 3px 5px -1px rgb(0 0 0 / 20%);
                }
            }
            .chat__footer {
                padding: 10px;
                display: flex;
                align-items: center;
                .mess__group {
                    width: 710px;
                    position: relative;
                    input {
                        width: 100%;
                        font-size: 16px;
                        color: #25d5e4;
                        border: 0;
                        outline: none;
                        padding: 12px;
                        border: 1px dashed #3b3f5c;
                        background: #0e1726;
                        box-shadow: none;
                    }
                    svg {
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 10px;
                        width: 25px;
                        height: 25px;
                        cursor: pointer;
                        transition: 0.4s ease-in-out;

                        &:hover {
                            color: #25d5e4;
                        }
                    }
                }
            }
        }
    }
}
