p {
    color: red;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    color: #e0e6ed;
    .renevue {
        flex: 0 0 61%;
        position: relative;
        padding: 20px;
        border-radius: 6px;
        background: #0e1726;
        width: 830;
        min-height: 350 !important;
        .renevueHeadline {
            display: flex;
            justify-content: space-between;
            p {
                color: #e0e6ed;
                font-size: 19px;
                font-weight: 600;
                letter-spacing: 0px;
            }
            svg {
                color: #888ea8;
                margin-top: 5px;
            }
        }
    }
    .byCategory {
        flex: 0 0 30%;
        position: relative;
        border-radius: 6px;
        background: #0e1726;
        padding: 20px 20px 0px 20px;
        .headline {
            margin-bottom: 15px;
            h5 {
                letter-spacing: 0px;
                font-size: 19px;
                color: #e0e6ed;
                font-weight: 600;
            }
        }
    }
}
.renevueDropdown:hover .dropdownMenu{
    opacity: 1;
    visibility: visible;
}

.dropdownMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    z-index: 899;
    padding: 0.35rem 0;
    transition: all 0.3s ease-in-out 0s, opacity 0.3s ease-in-out 0s;
    opacity: 0;
    visibility: hidden;
    float: left;
    text-align: left;
    top: 0 !important;
    right: 0;
    left: auto !important;
    border-radius: 8px;
    background: #1b2e4b;
    box-shadow: 0 6px 10px 0 rgb(0 0 0 / 14%), 0 1px 18px 0 rgb(0 0 0 / 12%), 0 3px 5px -1px rgb(0 0 0 / 20%);
    .dropdownItem {
        padding: 6px 17px;
        clear: both;
        font-weight: 500;
        color: #bfc9d4;
        font-size: 13px;
    }
    .dropdownItem:hover {
        color: #fff;
    }
}