.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.space-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}