// Colors Palette @import '../../variables.scss';
$x-dark-blue: #0e1726;
$x-darker-blue: #060818;
$x-gray: #888ea8;
$x-light-gray: #e0e6ed;
$x-light-blue: #4361ee;
$x-box-shadow-btn: 0 10px 20px -10px rgb(27 85 226 / 59%);
$x-crimsom: #e7515a;
$x-royal-blue: #1b2e4b;

//Colors
$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$purple-box-shadow: 0 10px 20px -10px rgb(92 26 195 / 59%);
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$teal-box-shadow: 0 10px 20px -10px rgb(141 191 66 / 59%);
$cyan: #17a2b8;
$cyan-box-shadow: 0 10px 20px -10px rgb(33 150 243 / 59%);
$white: #fff;
$gray: #6c757d;
$gray-dark: #343a40;
$primary: #007bff;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$warning-box-shadow: 0 10px 20px -10px rgb(226 160 63 / 59%);
$danger: #dc3545;
$danger-box-shadow: 0 10px 20px -10px rgb(231 81 90 / 59%);
$light: #f8f9fa;
$dark: #343a40;
$dark-box-shadow: 0 10px 20px -10px rgb(59 63 92 / 59%);

// Global Variables
$palette-primary: $x-dark-blue;
$palette-secondary: $x-darker-blue;
$palette-text: $x-gray;
$palette-headlines: $x-light-gray;
$btn-primary: $x-light-blue;
$btn-primary-box-shadow: $x-box-shadow-btn;
$secondary-text: #ebedf2;