// Colors Palette
$x-dark-blue: #0e1726;
$x-darker-blue: #060818;
$x-gray: #888ea8;
$x-light-gray: #e0e6ed;

// Global Variables
$palette-primary: $x-dark-blue;
$palette-secondary: $x-darker-blue;
$palette-text: $x-gray;
$palette-headlines: $x-light-gray;
