.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;

    .card-body {
        padding: 28px 25px;

        .card-icon {
            margin-bottom: 20px;
            display: inline-block;
            background: #3b3f5c;
            padding: 12px;
            border-radius: 50%;
            color: #f1f2f3;
            width: 20px;
            height: 20px;

            svg {
                width: 20px;
                height: 20px;
            }
        }

        .card-image {
            width: 100%;
            height: 250px;
            background-color: #121629;
            margin-bottom: 10px;
            border-radius: 0.15rem;
        }
        .card-title {
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 1px;
            margin-bottom: 15px;
            color: #e0e6ed;
        }

        .card-text {
            color: #888ea8;
        }
    }
}

.component-card_1 {
    border: 1px solid #1b2e4b;
    border-radius: 6px;
    width: 19rem;
    margin: 30px auto;
    background-color: #191e3a;
}