@import '../../variables.scss';

.progress-bar {
    border-radius: 30px;
    margin-bottom: 1.25rem;
    // height: 16px;
    font-size: .75rem;
    text-align: center;

    .bar {
        // height: 16px;
        border-radius: 16px;
        font-size: 12px;
        letter-spacing: 1px;
        font-weight: 100;
        color: #fff;
        padding: 0px 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        label {
            padding: 0px 5px;
        }
    }
}

//PROGRESS BAR TYPES
//PRIMARY
.primary-main-bcg {
    background-color: #191e3a;
}

.primary-secondary-bcg {
    background-color: #4361ee !important;
    box-shadow: 0 2px 4px rgb(0 69 255 / 15%), 0 8px 16px rgb(0 69 255 / 20%);
    border-color: #4361ee;
}

//INFO
.info-secondary-bcg {
    background-color: #2196f3 !important;
    box-shadow: 0 2px 4px rgb(0 69 255 / 15%), 0 8px 16px rgb(0 69 255 / 20%);
    border-color: #2196f3;
}

//SUCCESS
.success-secondary-bcg {
    background-color: #1abc9c !important;
    box-shadow: 0 2px 4px rgb(0 69 255 / 15%), 0 8px 16px rgb(0 69 255 / 20%);
    border-color: #1abc9c;
}

//WARNING
.warning-secondary-bcg {
    background-color: $warning !important;
    box-shadow: $warning-box-shadow;
    border-color: $warning;
}

//DANGER
.danger-secondary-bcg {
    background-color: $danger !important;
    box-shadow: $danger-box-shadow;
    border-color: $danger;
}

//SECONDARY
.secondary-secondary-bcg {
    background-color: $purple !important;
    box-shadow: $purple-box-shadow;
    border-color: $purple;
}

//DARK
.dark-secondary-bcg {
    background-color: $dark !important;
    box-shadow: $dark-box-shadow;
    border-color: $dark;
}



//PROGRESS BAR TYPES
//PRIMARY
.primary-main-bcg {
    background-color: #191e3a;
}

.primary-secondary-gradient {
    background: linear-gradient(to right, #0081ff 0%, #0045ff 100%);
    box-shadow: 0 2px 4px rgb(0 69 255 / 15%), 0 8px 16px rgb(0 69 255 / 20%);
}

//INFO
.info-secondary-gradient {
    background: linear-gradient(to right, #04befe 0%, #4481eb 100%);
    box-shadow: 0 2px 4px rgb(0 69 255 / 15%), 0 8px 16px rgb(0 69 255 / 20%);
}

//SUCCESS
.success-secondary-gradient {
    background: linear-gradient(to right, #3cba92 0%, #0ba360 100%);
    box-shadow: 0 2px 4px rgb(0 69 255 / 15%), 0 8px 16px rgb(0 69 255 / 20%);
}

//WARNING
.warning-secondary-gradient {
    background: linear-gradient(to right, #f09819 0%, #ff5858 100%);
    box-shadow: $warning-box-shadow;
}

//DANGER
.danger-secondary-gradient {
    background: linear-gradient(to right, #d09693 0%, #c71d6f 100%);
    box-shadow: $danger-box-shadow;
}

//SECONDARY
.secondary-secondary-gradient {
    background: linear-gradient(to right, #7579ff 0%, #b224ef 100%);
    box-shadow: $purple-box-shadow;
}

//DARK
.dark-secondary-gradient {
    background: linear-gradient(to right, #2b5876 0%, #4e4376 100%);
    box-shadow: $dark-box-shadow;
}

//CUSTON PROGRESS BAR PROGRESS BCG
.custom-progress-bar {
    background-color: #4361ee !important;
    border-color: #4361ee;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}

.custom-bar-animated {
    background-color: #4361ee !important;
    border-color: #4361ee;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
    transition: width .6s ease;
    animation: 1s linear infinite progress-bar-stripes;
}



// PROGRESS BAR PROGRESS WIDTH
.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w30 {
    width: 30%;
}

.w40 {
    width: 40%;
}

.w50 {
    width: 50%;
}

.w60 {
    width: 60%;
}

.w70 {
    width: 70%;
}

.w80 {
    width: 80%;
}

.w90 {
    width: 90%;
}

.w100 {
    width: 100%;
}

//PROGRESS BAR DIFFERENT SIZES
.size-code {
    color: $x-crimsom;
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 5px;
}
.default-progres-bar {
    height: 16px;
    .bar {
        height: 16px;
    }
}
.progress-bar-sm {
    height: 4px;
    .bar {
        height: 4px;
    }
}

.progress-bar-md {
    height: 10px;
    .bar {
        height: 10px;
    }
}

.progress-bar-lg {
    height: 20px;
    .bar {
        height: 20px;
    }
}

.progress-bar-xl {
    height: 25px;
    .bar {
        height: 25px;
    }
}