.wrapper {
    background: #060818;
    width: 100%;
    margin: 0 auto;
}

.fixedTop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.headerTop {
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
    background-color: #060818;
    border-bottom: 1px solid #060818;
    z-index: 3;

    .headerLeft {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.9px 0 0.9px 27px !important;

            .logoImg {
                align-self: center;

                img {
                    vertical-align: middle;
                }
            }

            .logoText {
                margin-right: 47px;

                a {
                    font-size: 24px !important;
                    color: #e0e6ed;
                    line-height: 2.75rem;
                    padding: 0 0.8rem;
                    text-transform: uppercase;
                    font-weight: 700;
                    text-decoration: none;
                }
            }
        }

        .searchBox {
            display: flex;
            list-style: none;
            flex-direction: row;
            color: #888ea8;
            border: 1px solid rgba(81, 83, 101, 0.28);
            background-color: #0e1726;
            border-radius: 6px;
            font-weight: 600;
            padding-left: 0;

            .searchIcon {
                list-style: none;
                display: flex;
                align-items: center;

                svg {
                    margin: 0 9.6px;
                    cursor: pointer;
                    top: 9px;
                    overflow: hidden;
                    vertical-align: middle;
                    width: 18px;
                    height: 18px;
                }

                .searchForm {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    margin-top: 0rem;

                    input {
                        border: none;
                        background-color: transparent;
                        width: 370px;
                        outline: none;
                        font-size: 14px;
                        font-weight: 600;
                        color: #888ea8;
                        height: 36px;
                    }
                }
            }
        }
    }

    .headerRight {
        display: flex;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-direction: row;
        align-items: center;

        .icons {
            margin-left: 20px;
            position: relative;
            list-style: none;

            svg {
                width: 22px;
                height: 22px;
                color: #888ea8;
            }
        }

        .userAva {
            margin-right: 27px;
            margin-left: 20px;

            img {
                border-radius: 4px;
            }
        }
    }
}

.bottomMenu {
    position: fixed;
    top: 53px;
    width: 100%;
    display: flex;
    z-index: 3;

    .bottomHeader {
        box-shadow: 0 6px 10px 0 rgb(0 0 0 / 54%), 0 1px 18px 0 rgb(0 0 0 / 12%),
            0 3px 5px -1px rgb(0 0 0 / 20%);
        background: rgb(26, 28, 45);
        // padding: 9px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 50px;
        width: 100%;

        .bottomLeft {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .bottomBtn {
                padding: 6px 20px 0 31px;
                margin-left: 0;
                outline: none;

                svg {
                    width: 20px;
                    height: 20px;
                    color: #e0e6ed;
                }
            }

            .bottomTitle {
                color: #e0e6ed;
                font-size: 0.8875rem;
                letter-spacing: 0.0312rem;
            }
        }
    }
}

.bottomRight {
    position: relative;
    padding-right: 20px;
}