.submenu {
    width: 150px;
    visibility: visible;
    top: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
    margin-left: 15px;

    .submenu__list {
        transition: 0.6s;

        li {
            padding: 5px;
            margin-bottom: 3px;

            a {
                color: #888ea8;

                &:hover {
                    color: #61b6cd;
                }
            }
        }
    }
}