* {
     margin: 0;
     padding: 0;

}

ul {
     margin: 0;
     padding: 0;
}

li {
     list-style: none;
}

a {
     text-decoration: none;
}

::-webkit-scrollbar-track {
     background-color: #0e1726;
     /*Цвет скролла*/
}

::-webkit-scrollbar-thumb {
     border-radius: 5px;
     /*Закругление ползунка*/
     background-color: #3b3f5c;
     /*Цвет ползунка*/
}

::-webkit-scrollbar {
     width: 6px;
     /*Толщина скролла*/
}